
body {
  font-family: Arial, sans-serif;
  font-size: 14px;
}
nav {
  width: 100%;
  height: 6%;
  position: fixed;
  left: 0px;
  right: 0px;
  display: flex;
  justify-content: space-between;
  margin-top: -8%;
  background: rgba(255, 255, 255,0.2);
  backdrop-filter: blur(4px) saturate(180%);
  z-index: 500;
}
nav .logo {
  padding:3px ;
  width: 73px;
  height: 42px;
  margin-left: 1%;
}
nav ul li {
  list-style: none;
  display: inline-block;
  margin-top: 2.4%;
  margin-left: 30px;
  margin-right: 60px;
}
nav ul li a {
  text-decoration:dashed;
  color: #fff;
  font-size: 16px;
}
/* Style the navigation bar */
/* .navbar {
  width: 100%;
  max-width: 370px;
  background-color: #ee0b0b;
  overflow: hidden;
  position: fixed;
  background: rgb(247, 9, 9);
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 1px 10px;
  backdrop-filter: blur(4px) saturate(180%);
  margin-left: 3%;
  margin-top: 3%;
} */

/* Navbar links */
/* .navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: rgb(253, 7, 7);
  text-decoration: none;
  font-size: 17px;
} */

/* Navbar links on mouse-over */
/* .navbar a:hover {
  background-color: #06c1f9;
} */
/* div.navbar {
  box-shadow: 0 4px 8px 0 rgba(253, 252, 252, 0.952), 0 6px 20px 0 rgba(253, 252, 252, 0.936);
} */
/* .element_1 {
  width: 100%;
  max-width: 105px;
  background-color: #555;
  overflow: hidden;
  position: absolute;
  background: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 10px 10px;
  backdrop-filter: blur(4px) saturate(180%);
  margin-left: 29%;
  margin-top: 2.4%;
  z-index: 11111;
}
.element_1 a {
  color: rgb(7, 7, 7);
  text-decoration: none;
  font-size: 17px;
}
div.element_1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.element_2 {
  width: 100%;
  max-width: 83px;
  background-color: #555;
  overflow: hidden;
  position: absolute;
  background: rgba(255, 255, 255);
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 10px 10px;
  backdrop-filter: blur(4px) saturate(180%);
  margin-left: 40%;
  margin-top: 2.4%;
  z-index: 11111;
}
.element_2 a {
  color: rgb(7, 7, 7);
  text-decoration: none;
  font-size: 17px;
}
div.element_2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.element_3 {
  width: 100%;
  max-width: 90px;
  background-color: #555;
  overflow: hidden;
  position: absolute;
  background: rgba(255, 255, 255);
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 10px 10px;
  backdrop-filter: blur(4px) saturate(180%);
  margin-left: 50%;
  margin-top: 2.4%;
  z-index: 11111;
}
.element_3 a {
  color: rgb(7, 7, 7);
  text-decoration: none;
  font-size: 17px;
}
div.element_3 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.element_4 {
  width: 100%;
  max-width: 95px;
  background-color: #555;
  overflow: hidden;
  position: absolute;
  background: rgba(255, 255, 255);
  display: flex;
  align-items: center;
  border-radius: 58px;
  padding: 10px 10px;
  backdrop-filter: blur(4px) saturate(180%);
  margin-left: 59%;
  margin-top: 2.4%;
  z-index: 11111;
}
.element_4 a {
  color: rgb(7, 7, 7);
  text-decoration: none;
  font-size: 17px;
}
div.element_4 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */
/* 
.searchbar {
  width: 100%;
  max-width: 500px;
  max-height: 130px;
  overflow: hidden;
  position: absolute;
  background: rgb(247, 9, 9);
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 0px 10px;
  backdrop-filter: blur(4px) saturate(180%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 54%;
  margin-top: 2%;
  z-index: 10000;
}
.searchbar input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 14px 20px;
  font-size: 20px;
  color: #5f58f0;
}
.searchbar button img {
  width: 25px;
}
.searchbar button {
  border: 0;
  border-radius: 60%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.navbar img {
  align-items: center;
  width: 15px;
  height: 15px;
  border-radius: 60%;
  text-align: center;
} */

/* h1{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 100px;
  text-align: center;
  color: crimson;
  text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
} */
/* .new_section-bg img {
  width: 100%;
  height: 700px;
}
.about_us IMG {
  width: 970px;
  position: relative;
  height: 150px;
  overflow: hidden;
  margin-left: 18%;
  margin-top: -80%;
}
.main {
  width: 100%;
  min-height: 380px;
  text-align: center;
  position: relative;
  cursor: pointer;
  margin-left: 50%;
  margin-top: -98%;
}
.service {
  background: #fdfcfc;
  padding: 30px;
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  box-shadow: 0 0 20px -15px black;
  z-index: 1;
  transition: transform 0.7s;
}
.service-logo {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 10px solid rgba(255, 255, 255, 0.09);
  margin: -90px auto 0;
  background: #fdfcfc;
}
.service-logo img {
  width: 110px;
  height: 110px;
  margin-top: 0;
  border-radius: 50%;
  position: relative;
}
.service h4 {
  height: 35px;
  width: 80%;
  background: #fdfcfc;
  margin: 50px auto;
  position: relative;
}
.service h4::after {
  content: "";
  width: 40px;
  height: 30px;
  background: linear-gradient(to right, white, #5205f0);
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: -1;
}
.service h4::before {
  content: "";
  width: 40px;
  height: 30px;
  background: linear-gradient(to right, #5205f0, white);
  position: absolute;
  left: -5px;
  bottom: -5px;
  z-index: -1;
}
.shadow1 {
  height: 200px;
  width: 80%;
  background: #fdfcfc;
  position: absolute;
  border-radius: 10px;
  bottom: 0;
  left: 10%;
  z-index: -1;
  box-shadow: 0 0 20px -15px black;
  transition: transform 0.7s;
}
.shadow2 {
  height: 200px;
  width: 64%;
  background: #fdfcfc;
  position: absolute;
  border-radius: 10px;
  bottom: 0;
  left: 18%;
  z-index: -2;
} */
/* .main:hover.service {
  transition: translateY(-50px);
}
.main:hover.shadow1 {
  transform: translateY(-25px);
} */

/* main page css */
.hero {
  width: 100%;
  height: 84%;
  border-bottom-left-radius: 125px;
}
.front_page {
  text-align: center;
}
.front_page h1 {
  margin-top: 8%;
  font-size: 145px;
  color: #fff;
  font-weight: 600;
  transition: -0.3s ease-in-out;
}
.front_page h1:hover {
  -webkit-text-stroke: 4px white;
  color: transparent;
}
.front_page a {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-size: 20px;
  border: 2px solid #fff;
  padding: 14px 70px;
  border-radius: 50px;
  margin-top: 20px;
}
.back_video {
  position: absolute;
  height: 110%;
  width: 100%;
  margin-top: 0%;
  margin-bottom: 0%;
  right: 0%;
  left: 0%;
  top: 0%;
  object-fit: cover;
  bottom: 0;
  border-bottom-left-radius: 125px;
  z-index: -1;
}
/* @media(max-aspect-ratio:16/9){
  .back_video{
    width: auto;
    height: 100%;
  }
} */
::-webkit-scrollbar {
  background: #111222;
  margin: block 0.5em;
  width: -3vw;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(rgb(125, 132, 157), #111222);
  border-radius: 100vw;
  border: 0.25vw solid #111222;
}
::-webkit-scrollbar{
  display: none;
}

/* scroll reveal css */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #111222;
}

section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 100px;
  color: #fff;
}
.sec-02 {
  margin-top: 18%;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-title {
  font-size: 4em;
  margin-top: 0%;
  margin-bottom: 50px;
}

.content {
  position: relative;
  width: 1150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content .image {
  position: relative;
  width: 870px;
  height: 470px;
  overflow: hidden;
}
.sec-01 .content .image {
  position: relative;
  width: 550px;
  height: 400px;
  overflow: hidden;
}        
.content .image img {
  z-index: 111;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.content .text-box {
  z-index: 222;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  padding: 40px;
  max-width: 400px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  transform: translate(-80px, 50px);
}

.content .text-box h3 {
  font-size: 2em;
  margin-bottom: 10px;
}

.media-icons {
  margin-top: 100px;
}

.media-icons a {
  color: #fff;
  font-size: 2em;
  margin: 60px;
}

.section-title {
  font-size: 3em;
  margin-bottom: 80px;
  color: rgb(255, 255, 255);
}

.info-title {
  font-size: 1.8em;
  margin-bottom: 10px;
}

.info {
  width: 700px;
  margin-left: 50px;
}

.media-info {
  width: 400px;
  margin-left: 50px;
}

.media-info li {
  list-style: none;
  font-size: 1.4em;
}

.media-info li a {
  color: #fff;
  text-decoration: none;
}

.media-info li:not(:last-child) {
  margin-bottom: 50px;
}

.media-info li:nth-child(1),
.media-info li:nth-child(5) {
  padding-left: 100px;
}

.media-info li:nth-child(2),
.media-info li:nth-child(4) {
  padding-left: 50px;
}

.sec-03 {
  margin-bottom: 100px;
}

.main-title{
  color: rgb(255, 255, 255)
}

/* css for login */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,500&display=swap");
.containerr {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 750px;
  margin-top: 10%;
  background: url(gif&images/neon-tropical-monstera-leaf-banner.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  margin-top: 22%;
  border-bottom-right-radius: 125px;
  border-top-left-radius: 125px;
}
.hea h1{
  color: #f9f7f7;
  margin-left: -29%;
  margin-top: 10%;
  font-size: 100px;
  

}
.containerr .login-section {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 58%);
  height: 100%;
  color: #fff;
  backdrop-filter: blur(10px);
}

.login-section .form-box {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.form-box.login h2{
  color: #fff;
}
.login-section .form-box.register {
  transform: translateX(430px);
  transition: transform 0.6s ease;
  transition-delay: 0s;
}
.login-section.active .form-box.register {
  transform: translateX(0px);
  transition-delay: 0.7s;
}

.login-section .form-box.login {
  transform: translateX(0px);
  transition: transform 0.6s ease;
  transition-delay: 0.7s;
}
.login-section.active .form-box.login {
  transform: translateX(430px);
  transition-delay: 0s;
}

.login-section .form-box h2 {
  text-align: center;
  font-size: 25px;
}

.form-box .input-box {
  width: 340px;
  height: 50px;
  border-bottom: 2px solid#fff;
  margin: 30px 0;
  position: relative;
}
.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  padding-right: 28px;
}
.input-box label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 16px;
  font-weight: 600px;
  pointer-events: none;
  transition: 0.5s ease;
}
.input-box .icon {
  position: absolute;
  top: 13px;
  right: 0;
  font-size: 19px;
}
.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
}
.remember-password {
  font-size: 14px;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}
.remember-password label input {
  accent-color: #fff;
  margin-right: 3px;
}
.remember-password a {
  color: #fff;
  text-decoration: none;
}
.remember-password a:hover {
  text-decoration: underline;
}
.btn {
  background: #fff;
  width: 100%;
  height: 45px;
  outline: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background: #f72d7a;
  font-size: 16px;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.4);
}
.create-account {
  font-size: 14.5px;
  text-align: center;
  margin: 25px;
}
.create-account p a {
  color: #fff;
  font-weight: 600px;
  text-decoration: none;
}
.create-account p a:hover {
  text-decoration: underline;
}

/* code flow css */

.timeliner{
  padding: 2rem;
  padding-bottom: 70px;
  margin: 0 auto;
  max-width: 100%;
  margin-top: -21%;
  background-color: #92c1fb;
  background: linear-gradient(to bottom , #92c1fb,#6742ff);
  box-shadow: 10px 7px 7px 7px #05050f;
  border-bottom-left-radius: 125px;
  border-top-right-radius: 125px;

}
.top-section{
   text-align: center;
   padding: 4rem 0;
   max-width: 1300px;
   margin: 0 auto;
   color: #030303;
}
.timeline{
  position: relative;
  min-height: 150px; 

}
.line{
   position: absolute;
   z-index: 2;
   left: calc(50% - 1px );
   width: 2px;
   top: -50px;
   bottom: -50px;
   background-color: #040404;
   display: none;
}
.line:before,
.line:after{
   position: absolute;
   display: block;
   content: '';
   height: 1rem;
   width: 1rem;
   border-radius: 50%;
   background-color: #050505;
   left:50%;
   transform: translateX(-50%);
}
.line:after{
   bottom: 0;
}
.sec{
   display: flex;
   opacity: 0;
   transform: translateX(-100%);
   transition: 600ms ease;
   position: relative;
   z-index: 1;
   margin: 50px 0;
   padding: 1rem;
   border-radius: 1rem;
   align-items: center;
   min-height: 300px;
}
.sec:nth-child(odd){
   flex-direction:row-reverse ;
   transform: translateX(100%);
}
.bead{
   position: absolute;
   display: block;
   height: 1rem;
   width: 1rem;
   border-radius: 50%;
   background-color: #090909;
   left:50%;
   top: 20%;
   transform: translateX(-50%);
}
.cont{
   width: calc(50% - 2rem);
   color: #0a0a0a;
}
.show-me:nth-child(n){
   transform: none;
   opacity: 1;
}
h1{
  position: relative;
  overflow: hidden;
  font-weight: 1000;
  letter-spacing: 1px;
  font-size: 60px;
  margin-bottom: 5%;
  text-align: center;
  color: #111222;
}
h2{
  color: #111222;
}
/* footer css starting */
footer{
  width: 100%;
  position: relative;
  bottom: 0;
  background: linear-gradient(to right , #00093c,#2d0b00);
  color: #fff;
  padding: 100px 0 30px;
  border-top-left-radius: 125px;
  border-bottom-right-radius: 125px;
  font-size: 13px;
  line-height: 20px;
  margin-top: 2%;

}
.row{
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items:flex-start ;
  justify-content: space-between;
  margin-bottom: 12px;
}
.col{
  flex-basis: 25%;
  padding: 3px;
  margin-left: -4%;
}
.col:nth-child(2),.col:nth-child(3){
  flex-basis: 15%;

}
.logo{
  width: 80px;
  margin-bottom: 30px;
}
.col h3{
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
}
.email-id{
  width: fit-content;
  border-bottom: 1px solid #ccc;
  margin: 20px 0;
}
ul li {
  list-style: none;
  margin-bottom: 12px;
 
}
ul li a{
  text-decoration: none;
  color: #fff;
}
.foot{
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin-bottom: 50px;
}
.foot i{
  font-size: 18px;
  margin-right: 10px;
}
.foot button{
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
}
.foot input{
  width: 100%;
  background: transparent;
  color: #ccc;
  border: 0;
  outline: none;
}
hr{
  width: 90%;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin:20px auto;
}
.copyright{
  text-align: center;
}
.underline{
  width: 100%;
  height: 5px;
  background: #767676;
  border-radius: 3px;
  position: absolute;
  top: 25px;
  left: 0;
  overflow: hidden;
}
.soci i{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  background: #ffffff30;
  margin-right: 15px;
  cursor: pointer;
}
.underline span{
  width: 15px;
  height: 100%;
  background: #fff;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 10px;
  animation: moving 2s linear infinite;
}
@keyframes moving{
  0%{
    left: -20px;
  }
  100%{
    left: 100%;
  }
}